@import url("./Inter-Variable.ttf");

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input.modifiable {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.5rem;
}

div.roadblocks-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

div#roadblocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

div.roadblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;

    text-align: left;

    width: 22rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}

@media (min-width: 450px) {
    div.roadblock {
        width: 25rem;
    }
}

div.roadblock div {
    max-width: 21rem;
}

div.roadblock-label {
    min-width: 20rem;
}

div.modules-root {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

div.hcenter {
    display: flex;
    justify-content: center;
}

div.module {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}

div.modules-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.project-element {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
}
